{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center  mt-5 align-items-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center my-5">Connexion</h3>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post" class=" d-flex justify-content-center" style="display:flex;flex-direction: column; justify-content: center; align-items: center">
                        <div class="row" style="width: 70%">
                            <label  for="username">Email:</label>
                            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <div class="row mt-2" style="width: 70%">
                            <label for="password">Password:</label>
                            <input class="form-control"  type="password" id="password" name="_password"/>
                        </div>
                        <button class="btn btn-primary mt-5" type="submit">login</button>
                    </form>

{#                    <div class="row">#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.email) }}#}
{#                        </div>#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.age) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.firstname) }}#}
{#                        </div>#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.lastname) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.image) }}#}
{#                        </div>#}
{#                        <div class="col-6">#}
{#                            {{ form_row(registrationForm.plainPassword, {#}
{#                                label: 'Password'#}
{#                            }) }}#}
{#                        </div>#}
{#                    </div>#}
{#                    {{ form_row(registrationForm.description) }}#}
{#                    {{ form_row(registrationForm.agreeTerms) }}#}

{#                    <button type="submit" class="btn btn-success">Register</button>#}
{#                    {{ form_end(registrationForm) }}#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
